*
    box-sizing: border-box

body
    margin: 0
    font-family: 'Fira Sans', sans-serif
    font-size: 16px
    color: #111238

ul
    margin: 0
    padding: 0
    list-style-type: none

a
    text-decoration: none
    color: inherit


/** ==title== **/
.title
    margin-bottom: 40px
    font-weight: 700
    font-size: 24px
    line-height: 29px
    color: #111238

/** ==section== **/
.section
    padding: 70px 0 80px

/** ==nav== **/
.nav
    &__item:not(:last-child)
        margin-right: 20px
    &__link
        font-weight: 400

/** ==button== **/
.button
    font-weight: 400
    line-height: 19px
    border-radius: 5px
    &__link
        padding: 15px 0
        padding-left: 10px
        padding-right: 40px
    &__primary
        padding: 15px 30px
        background-color: #1A75E8
        color: #FFFFFF
    &--search
        margin-right: 10px

/** ==Header== **/
.header
    background-color: #F2F3F6

/** ==hero== **/
.hero
    &__title
        margin-top: 43px
        font-weight: 900
        font-size: 44px
        line-height: 53px
    &__text
        margin-top: 15px
        font-weight: 400
        font-size: 18px
        line-height: 25px

/** ==input-group== **/
.input-group
    margin-top: 30px
    padding: 10px  
    background-color: #fff
    border: 1px solid rgba(209, 209, 209, 0.1)
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1)
    border-radius: 5px

/** ==input== **/
.input
    padding: 0 5px
    border: none
    font-weight: 400
    font-size: 16px
    line-height: 19px
    &__hero

/** ==tags-group== **/
.tags-group
    margin-top: 25px
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #B2B2B2
    span
        margin-left: 10px
        margin-right: 15px

/** ==tag-link== **/
.tag-link
    &:not(:last-child)
        margin-right: 10px
        
/** ==card== **/
.card
    padding: 35px
    border-radius: 10px
    background-color: #F2F3F6
    transition: all .3s linear
    &__icon
        height: 24px
        fill: #111238
    &__title
        font-weight: 400
        font-size: 16px
        line-height: 19px
        color: #111238
    &:hover
        background-color: #1A75E8
    &:hover .card__icon
        fill: #fff
    &:hover .card__title
        color: #fff